<%= button_to 'Scrape', scrape_vehicles_path %>

<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Color</th>
      <th>Transmission</th>
      <th>Fuel type</th>
      <th>Make</th>
      <th>Model</th>
      <th>Url</th>
      <th>Year</th>
      <th>Price</th>
      <th>Miles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.first(10).each do |vehicle| %>
      <tr>
        <td><%= vehicle.title %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.transmission %></td>
        <td><%= vehicle.fuel_type %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.url %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.miles %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
